# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
build/
target/
bin/

# Visual Studio Code
.vscode/
*.class
*.jar
*.war
*.ear
*.log
*.out
*.iml
*.ipr
*.iws

